<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>MIS相關工作</title>
	<style type="text/css">
	 * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
	 h1 {color:blue; font-size:60px;}
	 h2 {color:#5577; font-size:40px;}
	</style>
</head>	
<body>
	<table width="70%">
	<tr>
		<td> 
	 	<h1>福清營造有限公司</h1>
     	<h2>資訊工程師</h2>
    </td>
 </tr>	
</table>
<table width="70%" border="1">
	<tr>
		<td>
			工作內容<br>
			1. 建置、管理與維護公司系統。<br>

			2. 開發MIS系統的功能，以符合企業需求。<br> 

			3. 設計與維護公司網頁。<br> 

			4. 處理個人電腦軟硬體的故障問題。<br> 

			5. 管理與維護公司網路和資料，並進行備份工作。<br> 

			6. 開發、設計及維護ERP軟體。<br>
		</td>
 </tr>		
</table>
</body>
</html>